
.menu {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center; 
    overflow-y: auto; 
    height: 650px; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background: linear-gradient(90deg, rgb(0 0 0 / 90%), rgb(68 68 68 / 35%)),
    url(../images/backmenu.jpg) no-repeat;
    background-size: cover; /* Add this line to cover the entire menu section */
}

.menu h2 {
    font-size: 2.2rem;
    color: #c61b45;
    margin-top: 10px;
    margin-bottom: 20px; 
    cursor: pointer;
    position: relative;
    display: inline-block;
    border: 2px solid rgb(238, 238, 237);
    padding: 5px;  
    width: 300px;
    border-radius: 5px;
}

.menu h2 span {
    display: inline-block; 
    margin-left: 5px; 
}
.menu h2::before {
    content: "•"; 
    position: absolute; 
    left: -20px; 
    color: #f5f5f6; 
}

.menu .category {
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 10px;
    margin-bottom: 20px; 
    
}

.menu ul {
    list-style: none;
    padding: 0;
    text-align: center; 
}

.menu ul li {
    margin-bottom: 10px;
    text-align: center; 
    width: 400px;
}

.menu ul li:before {
    margin-right: 5px;
    color: #007bff;
}

.menu ul li:last-child {
    margin-bottom: 0;
}

.menu ul li a {
    color: #333;
    text-decoration: none;    
}

.menu ul li a:hover {
    text-decoration: underline;
}

.menu ul.active {
    display: block; 
}

.menu ul li {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-align: center; 
    padding: 10px;
    background-color: #f9f9f9; 
    border-radius: 5px; 
}

.menu ul li img {
    width: 100px; 
    height: auto; 
    margin-right: 20px; 
}

.item-title {
    font-weight: bold;
    color: #333; 
    padding-right: 5px;
}

.item-price {
    color: #777; 
    padding-left: 5px;
}

.menu ul li:hover {
    background-color: #eaeaea; 
}

.menu ul li::after {
    margin-left: auto; 
    color: #007bff; 
}

@media screen and (max-width: 768px) {
    .menu ul li {
        width: 300px;
    }
    .menu h2{
        width:200px
    }
}